// header 

@keyframes from-top-center {
	0%{
		opacity: 0;
		transform:translateY(-60rem);
	}
	100%{
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes from-bottom-center {
	0%{
		opacity: 0;
		transform:translateY(150rem);
	}
	100%{
		opacity: 1;
		transform: translateY(0);
	}
}

// @keyframes from-right-center {
// 	0%{
// 		opacity: 0;
// 		transform:translateX(150rem);
// 	}
// 	100%{
// 		opacity: 1;
// 		transform: translateX(0);
// 	}
// }