*,
*::after,
*::before{
    margin:0;
    padding: 0;
    box-sizing: inherit;
}
html{
    //sets the 1 rem to 10px. This is how we size our whole website
    font-size: 62.5%;

    @include respond(big-desktop){
        font-size:75%;
    }
    //we use the media query mixin for the rem 
    @include respond(tab-land){
        font-size:56.25%;
    }
    @include respond(tab-port){
        font-size:50%;
    }
}

body{
    box-sizing: border-box;
}
*:focus{
    outline: none;
}
.grid-container{
    display: grid;
    grid-template-rows: 100vh min-content min-content min-content ;
    //grid-template-columns: repeat(12,1fr);
}