/*--------------------------------------ABOUT----------------------------------------*/
.about{
    padding: 10rem 0 30rem 0;

    @include respond(tab-port){
        padding: 12rem 0 25rem 0;
    }

    @include respond(phone){
        padding: 10rem 0 25rem 0;
    }

    & .image-container{
        padding: 2rem;
        width: 100%;
        // border: 1px solid red;
        text-align: right;

        @include respond(tab-port){
            text-align: center;
        }

        @include respond(phone){
            margin-top: -2rem;
            margin-bottom: -2rem;
        }
        &__photo{
            margin-top: -6rem;
            margin-right: -4rem;
            border-radius: 50%;
            display: inline-block;
            width: 19rem;
            height: 19rem;

            @include respond(tab-port){
                margin: 0 auto;
            }
        }
    }
    & .paragraph{
        max-width: 75ch;

    }
}
/*--------------------------------------PROJECTS----------------------------------------*/
.projects{
    font-size: $default-font-size;
    padding: 15rem 0 22rem 0;
    background-image: linear-gradient(to bottom, rgba($color-midnight-blue-very-darker, .9),rgba($color-midnight-blue-very-darker, .9)) ,url(/resources/img/markus-spiske-466ENaLuhLY-unsplash.jpg);
    background-size: cover;

    transform: skewY(-7deg);
    margin-top: -10rem;

    @include respond(tab-land){
        padding: 10rem 0 13rem 0;
    }

    @include respond(phone){
        padding: 7rem 0 11rem 0;
    }

    //selects only the direct children of the projects section
    &>*{
        transform: skewY(7deg);
    }
    & .heading-secondary{
        color: $color-white;
    }
    & h2::after{
        color:$color-white;
        background-color: $color-white;
    }
    //for demo 
  & .project{
      background-color: rgba($color-white,.8);
      font-size: inherit;
      padding: 2.5rem;
      padding-bottom: 3rem;
      text-align: center;
      border-radius: 3px;
      box-shadow: 0 1.5rem 4rem rgba($color-black,.15);
      transition: all 0.3s;

      @include respond(tab-port){
        padding: 2rem;
        padding-bottom: 2.5rem;
      }
      &__paragraph{
          margin: 0 auto;
          margin-bottom: .7rem;
          width: 80%;

          @include respond(tab-port){
            margin-bottom: 0;
          }
      }
      &:hover{
        background-color: rgba($color-white,.9);
          transform: translateY(-1.5rem) scale(1.03);
      }

  }
}
/*--------------------------------------CONTACT----------------------------------------*/
.contact{
    padding: 13rem 0 22rem 0;

    @include respond(tab-port){
        padding: 10rem 0 21rem 0;
    }
    @include respond(phone){
        padding: 8rem 0 18rem 0;
    }
}


