//-------------------COLORS-----------------------------
$color-primary:#4bcffa;
$color-primary-medium:#06a5d9;
$color-primary-dark:#010e13;


$color-secondary:#ffd32a; //for headings 
$color-sections:#d2dae2; // for section differantiation 
$color-text-dark:#485460;
$color-text-light:#fff;

*,
*::after,
*::before{
    margin:0;
    padding: 0;
    box-sizing: inherit;
}
html{
    font-size: 62,5%;
}

body{
    font-family: 'Lato', ;
    font-weight: 300;
    color: $color-text-dark;
    box-sizing: border-box;
}
.row{
    max-width: 1140px;
    margin: 0 auto;
}
section{
    padding: 80px 0;
}
.clearfix::after{
    display: table;
    clear: both;
    content:"";
}

*:focus{
    outline: none;
}
/*----------------------HEADINGS-------------------------------*/
.heading-primary,
.heading-secondary,
.heading-tertiary{
    font-weight:300;
    text-transform: uppercase;
}
.heading-primary{
    margin-top: 0;
    margin-bottom: 20px;
    color: $color-text-light;
    font-size: 240%; /*make it relative to the html font-size*/
    word-spacing: 3px;
    letter-spacing: 1px;
}
.heading-secondary{
    text-align: center;
    margin-bottom: 20px;
}
.heading-tertiary{
    margin: 10px 0;
}

h2:after{
    content:" ";
    display:block;
    width: 100px;
    height: 2px;
    background-color: black;
    margin:0 auto;
    margin-top: 20px;
}

#name{
    color: #ffd32a;
}
.heading-primary--sub{
    display: block;
}
/*--------------------------------BUTTONS-------------------------------------------------*/
.btn{
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 200px;
    font-size: 100%;

    &-ghost{
        &:link,
        &:visited{
            border: 1px solid #ffd32a;
            box-shadow: 0 3px 10px black;
            color:#ffd32a;
            margin-top: 1%;
            background-color: #4bcffa;
            backface-visibility: hidden;
        }
        &:hover{
            transform: translateY(-3px);
            border: 1px solid #ffd32a;
            box-shadow: 0 2px 10px black;
            color:#ffd32a;
            background-color: #4bcffa;
        }
        &:active{
            box-shadow: 0 2px 7px black;
            transform: translateY(0);
        }
    }
    &-colored{
        &:link,
        &:visited{
            border: 1px solid white;
            color: white;
            margin-top: 15px;
            padding: 7px 15px;
        }
        &:hover,
        &:active{
            color: red;
        }
    }
}
/*---------------------HEADER--------------------------------------------*/
.header{
    /* background-image: linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,0.2)); */
    width: 100%;
    height: 100vh;
    background-color: #3498db;
    color: #fff;
    position: relative;
    overflow: hidden;
    text-align: center;

    &__hero-text{
        position:absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        text-transform: uppercase;
        font-size: 100%;
        font-weight: 300;
    
    }
}

/*---------------------NAVIGATION----------------------------------------*/
.navigation{
    float: right;
    margin-top: 50px;
    margin-right: 40px;
    /* color: #ffffff94; */
}
.main-nav{
    list-style-type: none;

    &__nav-item{
        display: inline-block;
        margin-right: 30px;
    }
    /*the links at the navigation bar*/
    &__nav-link{
        &:link,
        &:visited{
            text-align: center;
            text-transform: uppercase;
            text-decoration: none;
            color: white;
            font-size: 130%;
            font-weight: 300;
            padding: 8px 0;
            border-bottom: 2px solid transparent;
            transition: border-bottom ease 0.2s;
        }
        &:hover,
        &:active{
            border-bottom: 2px solid #ffd32a;;
        }
    }
}

/*--------------------------------------ABOUT----------------------------------------*/
.about{
    background-color: darkgray;
    &__box{
        margin: 2%;
    }
    &__image-box{
        width: 26%;
        height: auto;
        float: left;
        text-align: center;
    }
    &__profile-img{
        display:inline-block;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin-right: -50px;
        margin-top: 20px;
    }
    &__image-text-box{
        margin-top: 40px;
        float: left;
        width: 60%;
    }
    &__text{
        font-size: 100%;
        line-height: 145%;
        max-width: 75ch;
    }
}

/*--------------------------------------PROJECTS----------------------------------------*/
.projects{
    background-color: chocolate;

    &__master-box{
        width: 80%;
        margin-left: 10%;
        margin-right: auto;
        margin-top: 40px;
    }
    &__project-box{
        display: inline-block;
        padding: 15px;
        width: 30%;
        margin: 0 auto;
        border: 1px solid black;
        margin-right: 5px;
        text-align: center;
    }
    &__project-list{
        list-style: none;
    }
    &__project-item{
        color: black;
    }
}

/*--------------------------------------CONTACT----------------------------------------*/
.contact{
    @at-root #{&}__form{
        background-color: darkseagreen;
        padding: 20px;
        width: 60%;
        margin:0 auto;
        border: 1px solid black;
        text-align: center;
    }
    @at-root #{&}__form-group{
        width: 100%;
        margin-bottom: 1%;
    }
    @at-root #{&}__label{border: 1px solid red;}
    @at-root #{&}__input{border: 1px solid red}
    @at-root #{&}__textarea{border: 1px solid red}

}


/*--------------------------------------FOOTER----------------------------------------*/
.footer{ 
    padding: 50px;
    background-color: cyan;
    text-align: center;

    &__social-box{
        width: 100%;
    }
    &__social-list li{
        padding-top: 50px;
        display: inline-block;
        margin-bottom: 50px;
    }
    &__social-link{
        display: inline-block;
        text-decoration: none;
        margin-right: 40px;
    }
    &__copyright-text{
        font-size: 100%;
    }
    &__icon-text{
        display:block;
        text-transform: uppercase;
        font-size: 80%;
    }
}
