/*--------------------------------------CONTACT----------------------------------------*/
.form-container{
    background-color: rgba($color-midnight-blue-lighter,.15);
    padding: 3rem;
    margin: 0 auto;
    width: 60%;
    font-size: 1.8rem;
    box-shadow: 0 1.5rem 3rem rgba($color-midnight-blue-lighter,.2);
    border-radius: 5px;

   & input[type=text],
    & input[type=email],
    & textarea{
        font-family: inherit;
        font-size: inherit;
        width: 100%; /*to fill their column */
        padding: 7px;
        border-radius: 3px;
        border: 1px solid #ccc;
    }
    & .col-1-of-3{
        text-align: right;
    }
    & .row{
        margin-bottom: 1.6rem !important;
    }
    // &__label{
    // }
    *:focus{
        outline: none;
    }

}
