
/*--------------------------------------FOOTER----------------------------------------*/
.footer{ 
    padding: 6rem;
    background-color: $color-midnight-blue-darker;
    text-align: center;
    font-size: $default-font-size;
    color: white;

    &__social-box{
        margin: 5rem auto 3rem auto;
        width: 70%;
        @include respond(tab-port){
            width: 60%;
        }
        @include respond(phone){
            margin: 3rem auto 3rem auto;
            width: 100%;
        }
    }
    &__link-box{
        display:inline-block;
       &:not(:last-child){
           margin-right: 6rem;
           @include respond(tab-port){
            margin-right: 5rem;
           }
           @include respond(phone){
            margin-right: 4rem;
           }
       }
        margin-bottom: 4rem;
        @include respond(tab-port){
            margin-bottom: 3rem;
           }
           @include respond(phone){
            margin-bottom: 3rem;
           }

    }
    &__social-link{
        &:link,
        &:visited{
            display: inline-block;
            text-decoration: none;
            color: $color-midnight-blue-lighter;
            &:not(:last-child){
                margin-right: 3rem;
                @include respond(phone){
                    margin-right: 2rem;
                }
            }
            transition: all .2s;
        }
        &:hover,
        &:active{
        color: $color-midnight-blue-very-lighter;
        transform:scale(1.1);
    }
    }
    &__copyright-text{
        font-size: 90%;
        font-family: inherit;
    }
    &__icon-text{
        color: white;
        display:block;
        text-transform: uppercase;
        font-size: 80%;
        @include respond(phone){
            font-size: 70%;
        }
    }
    &__copyright-box{
        display: inline-block;
    }
    &__copyright-link{
        &:link,
        &:visited{
            display: inline-block;
            color: inherit;
            text-decoration: none;
        }
    }
}