/*---------------------NAVIGATION----------------------------------------*/
.navigation{
    .main-nav{
        float: right;
        margin-top: 5rem;
        font-size: 1.8rem;
        z-index: 100000;
        list-style-type: none;

        @include respond(tab-land){
        margin-top: 5rem;
        display: block;
        }

        @include respond(tab-port){
            margin-top: 5rem;
            display: block;
        }
        @include respond(phone){
            float: left;
            margin-top: 3rem;
            display: none;
        }

        //.navigation .main-nav --> at phone display:block; click the icon and add the class 

        // li at the normal nav 
        &__nav-item{
            display: inline-block;
            // padding: .7rem 0;
            margin-right: 2rem;
            &:last-child{
                margin-right: 8rem;
            }
            @include respond(tab-land){
                margin-right: 2rem;
                &:last-child{
                    margin-right: 7rem;
                }
            }

            @include respond(phone){
                display: block;
                margin: 0;
                padding:0;
            }
        }

        //the links at the navigation bar
        &__nav-link{
            &:link,
            &:visited{
                display: block;
                text-transform: uppercase;
                text-decoration: none;
                color: white;
                font-size: inherit;
                font-weight: 300;
                padding: 8px 0;
                border-bottom: 2px solid transparent;
                transition: border-bottom ease 0.2s;

                @include respond(phone){
                    border: 0;
                    padding: 1rem 0;
                    text-align: left;
                    margin-top: 1rem;
                    margin-left: 5rem;
                }
            }
            &:hover,
            &:active{
                border-bottom: 2px solid #698aac;
                @include respond(phone){
                border: 0;
                }
        }
    
    }//main-nav 

}//navigation 
//-----------------------Mobile nav ---------------------------------
    // at the initial state which we can NOT see it 
    .mobile-nav-icon{
        float: right;
        display: none;
        margin-top: 4rem;
        margin-right: 4rem;
        cursor: pointer;

        //make the mobile humburger icon appears at the mobile size 
        @include respond(phone){
            display: inline-block;
        }
    }

}

//-----------STICKY NAVY-----------------------------------
.navigation{
    &.sticky{
        //we style the .sticky class NOT the .navigation.sticky .main-nav 
        //the styles below will make the nav sticky 
        position: fixed; //stays at the same point no matter if we scroll 
        top: 0;
        right: 0;
        width: 100%; // we want it to occupy the whole browser width
        background-color: rgba($color-midnight-blue-very-darker,.85);
        z-index: 100000;

        @include respond(phone){
            position: fixed; //stays at the same point no matter if we scroll 
            top: 0;
            left: 0;
            width: 100%; // we want it to occupy the whole browser width
            background-color: $color-midnight-blue-very-darker;
            z-index: 100000;
        }
    
        //styles which will apply to main-nav during the sticky state
        & .main-nav{
            float: right;
            margin-top: 0;
            font-size: 1.8rem;
            z-index: 100000;
            list-style-type: none;

            @include respond(tab-port){
                margin-top: 0rem;
            }
            @include respond(phone){
                float: left;
                margin-top: 2rem;
                display: none;
            }

            //.navigation.sticky .main-nav --> to phone media display:block;

            &__nav-item{
                @include respond(phone){
                    &:last-child{
                        margin-bottom: 2rem;
                    }
                }
            }
    

            //style the links inside the sticky
            &__nav-link{
                &:link,
                &:visited{
                    display: block;
                    text-transform: uppercase;
                    text-decoration: none;
                    color: $color-white;
                    font-size: inherit;
                    font-weight: 300;
                    padding: 8px 0;
                    border-bottom: 2px solid transparent;
                    transition: border-bottom ease 0.2s;

                    //sticky state and mobile
                    @include respond(phone){
                        border: 0;
                        padding: 1rem 0;
                        text-align: left;
                        }
                }
                &:hover,
                &:active{
                    border-bottom: 2px solid #698aac;
                    @include respond(phone){
                    border: 0;
                    }
            
                }    
            }
        }
        
        //reduce the margin-top and add margin bottom to the mbile nav during the sticky state NOT in the header
        & .mobile-nav-icon{
            //make the mobile humburger icon appears at the mobile size 
            @include respond(phone){
                //change the margin top and add margin bottom 
                margin-top: 1.7rem;
                margin-bottom: 1rem;
            }
        }
    }//sticky
}
.dis-main-nav{
    display:block !important;
}