*,
*::after,
*::before{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62,5%;
}

body{
    font-family: 'Lato', ;
    color: #485460;
}
.header{
    width: 100%;
    height: 100vh;
    background-color: #4bcffa;
    color: #ffd32a;;
}

