*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

*:focus {
  outline: none; }

body {
  font-family: "Lato";
  font-weight: 300;
  color: #485460;
  box-sizing: border-box;
  line-height: 1.7; }

/*----------------------HEADINGS-------------------------------*/
.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 300;
  text-transform: uppercase; }

.heading-primary {
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff;
  font-size: 240%;
  /*make it relative to the html font-size*/
  word-spacing: 3px;
  letter-spacing: 1px; }

.heading-secondary {
  font-size: 2rem;
  letter-spacing: 1px;
  margin: 0 auto;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  margin-bottom: 20px;
  background-image: linear-gradient(to right, rgba(200, 130, 100, 0.9), rgba(180, 100, 200, 0.9));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent; }

.heading-tertiary {
  margin: 10px 0; }

h2:after {
  content: " ";
  display: block;
  width: 100px;
  height: 2px;
  background-color: #485460;
  margin: 0 auto;
  margin-top: 20px; }

#name {
  color: #ffd32a; }

.heading-primary--sub {
  display: block; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

/*--------------------------------BUTTONS-------------------------------------------------*/
.btn {
  text-decoration: none;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 200px;
  font-size: 100%; }
  .btn-ghost:link, .btn-ghost:visited {
    border: 1px solid #ffd32a;
    box-shadow: 0 3px 10px black;
    color: #ffd32a;
    margin-top: 1%;
    background-color: #4bcffa;
    backface-visibility: hidden; }
  .btn-ghost:hover {
    transform: translateY(-3px);
    border: 1px solid #ffd32a;
    box-shadow: 0 2px 10px black;
    color: #ffd32a;
    background-color: #4bcffa; }
  .btn-ghost:active {
    box-shadow: 0 2px 7px black;
    transform: translateY(0); }
  .btn-colored:link, .btn-colored:visited {
    border: 1px solid white;
    color: white;
    margin-top: 15px;
    padding: 7px 15px; }
  .btn-colored:hover, .btn-colored:active {
    color: red; }

/*--------------------------------------CONTACT----------------------------------------*/
.contact__form {
  background-color: darkseagreen;
  padding: 20px;
  width: 60%;
  margin: 0 auto;
  border: 1px solid black;
  text-align: center; }

.contact__form-group {
  width: 100%;
  margin-bottom: 1%; }

.contact__label {
  border: 1px solid red; }

.contact__input {
  border: 1px solid red; }

.contact__textarea {
  border: 1px solid red; }

/*--------------------------------------FOOTER----------------------------------------*/
.footer {
  padding: 50px;
  background-color: cyan;
  text-align: center; }
  .footer__social-box {
    width: 100%; }
  .footer__social-list li {
    padding-top: 50px;
    display: inline-block;
    margin-bottom: 50px; }
  .footer__social-link {
    display: inline-block;
    text-decoration: none;
    margin-right: 40px; }
  .footer__copyright-text {
    font-size: 100%; }
  .footer__icon-text {
    display: block;
    text-transform: uppercase;
    font-size: 80%; }

/*---------------------HEADER--------------------------------------------*/
.header {
  /* background-image: linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,0.2)); */
  width: 100%;
  height: 100vh;
  background-color: #3498db;
  color: #fff;
  position: relative;
  overflow: hidden;
  text-align: center; }
  .header__hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-size: 100%;
    font-weight: 300; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    display: table;
    clear: both;
    content: ""; }
  .row [class^="col-"] {
    float: left;
    background-color: yellow; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) /2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 *6rem) /3); }
  .row .col-2-of-3 {
    width: calc(((100% - 2 *6rem) /3) *2 + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 *6rem) /4); }
  .row .col-2-of-4 {
    width: calc(((100% - 3 *6rem) /4)*2 + 6rem); }
  .row .col-3-of-4 {
    width: calc(((100% - 3 *6rem) /4) *3 + 2* 6rem); }

/*---------------------NAVIGATION----------------------------------------*/
.navigation {
  float: right;
  margin-top: 50px;
  margin-right: 40px;
  /* color: #ffffff94; */ }

.main-nav {
  list-style-type: none;
  /*the links at the navigation bar*/ }
  .main-nav__nav-item {
    display: inline-block;
    margin-right: 30px; }
  .main-nav__nav-link:link, .main-nav__nav-link:visited {
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-size: 130%;
    font-weight: 300;
    padding: 8px 0;
    border-bottom: 2px solid transparent;
    transition: border-bottom ease 0.2s; }
  .main-nav__nav-link:hover, .main-nav__nav-link:active {
    border-bottom: 2px solid #ffd32a; }

/*--------------------------------------ABOUT----------------------------------------*/
.about {
  background-color: darkgray; }
  .about__image-box {
    width: 26%;
    height: auto;
    float: left;
    text-align: center; }
  .about__profile-img {
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: -50px;
    margin-top: 20px; }

/*--------------------------------------PROJECTS----------------------------------------*/
.projects {
  background-color: chocolate; }
  .projects__master-box {
    width: 80%;
    margin-left: 10%;
    margin-right: auto;
    margin-top: 40px; }
  .projects__project-box {
    display: inline-block;
    padding: 15px;
    width: 30%;
    margin: 0 auto;
    border: 1px solid black;
    margin-right: 5px;
    text-align: center; }
  .projects__project-list {
    list-style: none; }
  .projects__project-item {
    color: black; }

section {
  padding: 80px 0; }
