//create the clearfix mixin and the position absolute
@mixin clearfix{
    &::after{
        display: table;
        clear: both;
        content:"";
    }
}

@mixin absolcenter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}