//-------------------COLORS-----------------------------
$color-primary:#4bcffa;
$color-primary-medium:#06a5d9;
$color-primary-dark:#010e13;

$color-grey-light:#f7f7f7;
$color-secondary:#ffd32a; //for headings 
$color-sections:#d2dae2; // for section differantiation 
$color-text-dark:#485460;
$color-text-light:#fff;

$color-headings-gradient-light:rgba(180,100,200,.9); //colors for all the gradient h2 
$color-headings-gradient-dark:rgba(200,130,100,0.9);

//the basic white and black 
$color-white:white;
$color-black:black;

//--------FONT--------------------------------------------------
$default-font-size:1.8rem; //because we use the same 1.6rem all the time! 

//-----------------FLOAT GRID----------------------------------
$gutter-vertical:8rem; //is the margin-bottom of each row 
$gutter-horizontal:6rem; //the space between the columns vertically
$grid-width:114rem; //width of the row 

//new list with colors
$color-midnight-blue:#2c3e50; 
$color-midnight-blue-darker:#0e1419; 
$color-midnight-blue-very-darker:#020303; 
$color-midnight-blue-lighter:#44607c; 
$color-midnight-blue-very-lighter:#507192; 