//-------------------COLORS-----------------------------
$color-primary:#4bcffa;
$color-primary-medium:#06a5d9;
$color-primary-dark:#010e13;


$color-secondary:#ffd32a; //for headings 
$color-sections:#d2dae2; // for section differantiation 
$color-text-dark:#485460;
$color-text-light:#fff;